<h1>Ticket</h1>


<h4>登入角色</h4>
<mat-form-field appearance="fill">
  <mat-label>登入角色</mat-label>
  <mat-select [(ngModel)]="selectedRole" name="role">
    <mat-option *ngFor="let role of roleList" [value]="role">
      {{role}}
    </mat-option>
  </mat-select>
</mat-form-field>
<p> Selected food: {{selectedRole}} </p>

<button class="btn btn-primary" (click)="login()">login</button>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>
